{% extends "polls/base.html" %}

{% block title %}
    detail of  question id #{{ ques.id }}
{% endblock %}

{% block body %}

        {% if ques %}

        
            <h1>{{ ques.question }}</h1>
         <br>
         <form  action="{% url 'vote' ques.id %}" method="post" >
             {% csrf_token %}
             
            {% for choice in ques.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <br>
            
            <button>submit</button>

            {% if error_message %}
                <h1 id="error_message">{{ error_message }}</h1>
        {% endif %}

         </form>
             
        {% else %}
            <h1>No Content loading !</h1>
        {% endif %}   
        
        <a href="{% url 'index' %}"> <-- Home Page</a>

{% endblock %}