{% extends "polls/base.html" %}

{% block title %}
    home page
{% endblock %}

{% block body %}
       {% if question_list %}
            <h1> recent polling questions </h1>
            
                {% for question in question_list %}
                
                     <li> <a href="{% url 'details' question.id %}">{{ question.question }}</a></li>
               
                <br>
                
                {% endfor %}
        {% else %}
                     <h1>No Polls created yet!</h1>
        {% endif %}   
        
        <a href="{% url 'add_poll' %}"><button>Add Poll</button></a>
{% endblock %}